@charset "UTF-8";

/*Efeito nos botões quando mause em cima*/

/*Crie um efeito hover no li*/

nav#menu li:hover {
    background-color: black;
}

/*Coloque uma transição de cor de fundo no proprio nav#menu li*/

nav#menu li {
    display: inline-block; /*Itens na horizontal*/
    background-color: black; /*Cor do fundo*/
    padding: 10px; /*Espaço dentro da caixa*/
    margin: 20px; /*Espaço fora da caixa*/
    transition: background-color 1s;
}

/*Colocando cores e tirando sublinhados dos links*/

nav#menu a {
    color: black;
    text-decoration: none;
}

/*Link muda de cor quando o mause esta em cima, e fica sublinhado*/

nav#menu a:hover {
    color: black
    text-decoration: underline;
}

